<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindersachenbörse</title>

    <link rel="stylesheet" href="main.css">
    <script type="module" src="main.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <img src="ballons.jpeg" />
    </header>
    <nav>
        <a class="nav-component" href="/" style="--data-color: blue">Home</a>
        <a class="nav-component" href="/users" style="--data-color: green">Lieferanten</a>
        <a class="nav-component" href="/sell" style="--data-color: yellow">Verkaufen</a>
        <a class="nav-component" href="/import" style="--data-color: orange">Import</a>
        <a class="nav-component" href="/tools" style="--data-color: red">Tools</a>

        <div class="nav-component right" style="--data-color: red" id="login-logout">
            <a href="/login" id="login">Login</a>
            <a href="#" id="logout">Logout</a>
        </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>2025</footer>
</body>
</html>