<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindersachenbörse</title>

    <link rel="stylesheet" href="colors.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="table.css">
    <script type="module" src="main.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="popup" style="display: none;">
        <div class="inner">
            <div class="header">
                <h1>error</h1>
                <img src="https://cdn-icons-png.flaticon.com/512/4201/4201973.png"> 
            </div>
            <div class="content">
                Hehe error
            </div>
            <div class="answers">
                <button class="danger">Abbrechen</button>
                <button class="success">Ok</button>
            </div>
        </div>
    </div>
    <nav>
        <a class="nav-component" href="/">%home%</a>
        <a class="nav-component" href="/lists">%my-lists%</a>
        <div class="nav-component" id="login-logout">
            <a href="/login" id="login">%login%</a>
            <a href="#" id="logout">%logout%</a>
        </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>2025</footer>
</body>
</html>