<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindersachenbörse</title>

    <link rel="stylesheet" href="colors.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="form.css">
    <script type="module" src="main.js" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <a class="nav-component" href="/">%home%</a>
        <a class="nav-component" href="/lists">%my-lists%</a>
        <div class="nav-component" id="login-logout">
            <a href="/login" id="login">Login</a>
            <a href="#" id="logout">Logout</a>
        </div>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>2025</footer>
</body>
</html>