:root {
    --primary-100: #6ea71a;
    --secondary-100: #f89d0e;
    --tertiary-100: red;
    --white-100: white;

    --primary-90: lch(from var(--primary-100) calc(l * 0.9) c h);
    --primary-80: lch(from var(--primary-100) calc(l * 0.8) c h);
    --primary-70: lch(from var(--primary-100) calc(l * 0.7) c h);
    --primary-60: lch(from var(--primary-100) calc(l * 0.6) c h);
    --primary-50: lch(from var(--primary-100) calc(l * 0.5) c h);
    --primary-40: lch(from var(--primary-100) calc(l * 0.4) c h);
    --primary-30: lch(from var(--primary-100) calc(l * 0.3) c h);
    --primary-20: lch(from var(--primary-100) calc(l * 0.2) c h);
    --primary-10: lch(from var(--primary-100) calc(l * 0.1) c h);
    --primary-110: lch(from var(--primary-100) calc(l * 1.1) c h);
    --primary-120: lch(from var(--primary-100) calc(l * 1.2) c h);
    --primary-130: lch(from var(--primary-100) calc(l * 1.3) c h);
    --primary-140: lch(from var(--primary-100) calc(l * 1.4) c h);
    --primary-150: lch(from var(--primary-100) calc(l * 1.5) c h);
    --primary-160: lch(from var(--primary-100) calc(l * 1.6) c h);
    --primary-170: lch(from var(--primary-100) calc(l * 1.7) c h);
    --primary-180: lch(from var(--primary-100) calc(l * 1.8) c h);
    --primary-190: lch(from var(--primary-100) calc(l * 1.9) c h);

    --secondary-90: lch(from var(--secondary-100) calc(l * 0.9) c h);
    --secondary-80: lch(from var(--secondary-100) calc(l * 0.8) c h);
    --secondary-70: lch(from var(--secondary-100) calc(l * 0.7) c h);
    --secondary-60: lch(from var(--secondary-100) calc(l * 0.6) c h);
    --secondary-50: lch(from var(--secondary-100) calc(l * 0.5) c h);
    --secondary-40: lch(from var(--secondary-100) calc(l * 0.4) c h);
    --secondary-30: lch(from var(--secondary-100) calc(l * 0.3) c h);
    --secondary-20: lch(from var(--secondary-100) calc(l * 0.2) c h);
    --secondary-10: lch(from var(--secondary-100) calc(l * 0.1) c h);
    --secondary-110: lch(from var(--secondary-100) calc(l * 1.1) c h);
    --secondary-120: lch(from var(--secondary-100) calc(l * 1.2) c h);
    --secondary-130: lch(from var(--secondary-100) calc(l * 1.3) c h);
    --secondary-140: lch(from var(--secondary-100) calc(l * 1.4) c h);
    --secondary-150: lch(from var(--secondary-100) calc(l * 1.5) c h);
    --secondary-160: lch(from var(--secondary-100) calc(l * 1.6) c h);
    --secondary-170: lch(from var(--secondary-100) calc(l * 1.7) c h);
    --secondary-180: lch(from var(--secondary-100) calc(l * 1.8) c h);
    --secondary-190: lch(from var(--secondary-100) calc(l * 1.9) c h);

    --tertiary-90: lch(from var(--tertiary-100) calc(l * 0.9) c h);
    --tertiary-80: lch(from var(--tertiary-100) calc(l * 0.8) c h);
    --tertiary-70: lch(from var(--tertiary-100) calc(l * 0.7) c h);
    --tertiary-60: lch(from var(--tertiary-100) calc(l * 0.6) c h);
    --tertiary-50: lch(from var(--tertiary-100) calc(l * 0.5) c h);
    --tertiary-40: lch(from var(--tertiary-100) calc(l * 0.4) c h);
    --tertiary-30: lch(from var(--tertiary-100) calc(l * 0.3) c h);
    --tertiary-20: lch(from var(--tertiary-100) calc(l * 0.2) c h);
    --tertiary-10: lch(from var(--tertiary-100) calc(l * 0.1) c h);
    --tertiary-110: lch(from var(--tertiary-100) calc(l * 1.1) c h);
    --tertiary-120: lch(from var(--tertiary-100) calc(l * 1.2) c h);
    --tertiary-130: lch(from var(--tertiary-100) calc(l * 1.3) c h);
    --tertiary-140: lch(from var(--tertiary-100) calc(l * 1.4) c h);
    --tertiary-150: lch(from var(--tertiary-100) calc(l * 1.5) c h);
    --tertiary-160: lch(from var(--tertiary-100) calc(l * 1.6) c h);
    --tertiary-170: lch(from var(--tertiary-100) calc(l * 1.7) c h);
    --tertiary-180: lch(from var(--tertiary-100) calc(l * 1.8) c h);
    --tertiary-190: lch(from var(--tertiary-100) calc(l * 1.9) c h);

    --white-95: lch(from var(--white-100) calc(l * 0.95) c h);
    --white-90: lch(from var(--white-100) calc(l * 0.9) c h);
    --white-85: lch(from var(--white-100) calc(l * 0.85) c h);
    --white-80: lch(from var(--white-100) calc(l * 0.8) c h);
    --white-75: lch(from var(--white-100) calc(l * 0.75) c h);
    --white-70: lch(from var(--white-100) calc(l * 0.7) c h);
    --white-65: lch(from var(--white-100) calc(l * 0.65) c h);
    --white-60: lch(from var(--white-100) calc(l * 0.6) c h);
    --white-55: lch(from var(--white-100) calc(l * 0.55) c h);
    --white-50: lch(from var(--white-100) calc(l * 0.5) c h);
    --white-45: lch(from var(--white-100) calc(l * 0.45) c h);
    --white-40: lch(from var(--white-100) calc(l * 0.4) c h);
    --white-35: lch(from var(--white-100) calc(l * 0.35) c h);
    --white-30: lch(from var(--white-100) calc(l * 0.3) c h);
    --white-25: lch(from var(--white-100) calc(l * 0.25) c h);
    --white-20: lch(from var(--white-100) calc(l * 0.2) c h);
    --white-15: lch(from var(--white-100) calc(l * 0.15) c h);
    --white-10: lch(from var(--white-100) calc(l * 0.1) c h);
}