form {
    border: var(--border);
    border-radius: var(--br);

    padding: var(--margin-l);

    width: fit-content;
    height: fit-content;
}

.button {
    text-decoration: none;
    color: black;
}

input, button, select, .button {
    border-width: 1px;
    border-radius: var(--br-sharp);

    padding: var(--margin-xs);
    margin: var(--margin-xxs);

    background-color: var(--input-default-background);
    border: var(--input-default-border);

    outline: none;
}

input:hover,
button:hover,
select:hover,
.button:hover {
    background-color: var(--input-hover-background);
    border: var(--input-hover-border);
}

input:active, input:focus,
button:active, button:focus,
select:active, select:focus,
.button:active, .button:focus {
    background-color: var(--input-active-background);
    border: var(--input-active-border);
}

input:disabled,
button:disabled,
select:disabled,
.button:disabled,
.button.disabled {
    background-color: var(--input-disabled-background);
    border: var(--input-disabled-border);
    color: var(--input-disabled-color)
}