form {
    border: var(--border);
    border-radius: var(--br);

    padding: var(--margin-l);

    width: fit-content;
    height: fit-content;
}

input[type=text],
input[type=password] {
    border-width: 1px;
    border-radius: var(--br-sharp);

    padding: var(--margin-xs);
    margin: var(--margin-xxs);

    background-color: var(--input-text-default-background);
    border: var(--input-text-default-border);
}

input[type=text]:active, input[type=text]:focus,
input[type=password]:active, input[type=password]:focus {
    background-color: var(--input-text-active-background);
    border: var(--input-text-active-border);

    outline: none;
}