.deleted,
.deleted > * {
    background-color: red;
}

table {
    border-collapse: collapse;
}

thead > tr,
tbody > tr {
    border-bottom: var(--border);
}

tbody > tr:last-of-type {
    border-bottom: unset;
}

thead > tr {
    border-bottom-color: var(--grey);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-s);
}

.row > label {
    margin-right: var(--margin-xs);
}

form {
    border: var(--border);
    border-radius: var(--br);
    padding: var(--margin-l);
    width: fit-content;
}

form input {
    border: var(--border);
    border-radius: var(--br-sharp);
}

form input[type=submit] {
    padding: var(--margin-xs);
    border-radius: var(--br);
    width: 100%;
    transition: background-color 250ms, border-color 250ms;
}

form input[type=submit]:hover {
    background-color: var(--light-grey);
    border-color: var(--grey);
}

td:has(button) {
    display: flex;
    justify-content: center;
}

td {
    padding-right: var(--margin-s);
}

td:first-child {
    padding-left: var(--margin-s);
}