{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="list.js" defer></script>
<link rel="stylesheet" href="list.css">
{% endblock %}

{% block main %}
<form id="form" style="display: none;"></form>
<div style="margin-top: var(--margin-l)">
<table class="articles">
    <h1 id="list">%article-list%</h1>
    <thead class="thead">
        <tr>
            <td>#</td>
            <td>%name%</td>
            <td>%size%</td>
            <td>%price%</td>
            <td>%delete%</td>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td id="next-num">#</td>
            <td><input type="text" id="name" form="form" placeholder="%name%"/></td>
            <td><input type="text" id="size" form="form" placeholder="%size%"/></td>
            <td><input type="number" id="price" form="form" placeholder="%price%"/></td>
            <td><input type="submit" value="%add%" id="submit" form="form"/></td>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}