{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="list.js" defer></script>
<link rel="stylesheet" href="list.css">
{% endblock %}

{% block main %}
<table class="articles"><thead><tr><td>#</td><td>Name</td><td>Größe</td><td>Preis</td><td>Löschen</td></tr></thead><tbody></tbody></table>
<form>
    <div class="row">
        <label for="name">Name</label>
        <input type="text" id="name" />
    </div>
    <div class="row">
        <label for="size">Größe</label>
        <input type="text" id="size" />
    </div>
    <div class="row">
        <label for="price">Preis</label>
        <input type="number" id="price" />
    </div>
    <input type="submit" value="Hinzufügen" id="submit"/>
</form>
{% endblock %}