{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="list.js" defer></script>
<link rel="stylesheet" href="list.css">
{% endblock %}

{% block main %}
<form id="form"></form>
<table class="articles">
    <thead class="thead">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Größe</td>
            <td>Preis</td>
            <td>Löschen</td>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td id="next-num">#</td>
            <td><input type="text" id="name" form="form"/></td>
            <td><input type="text" id="size" form="form"/></td>
            <td><input type="number" id="price" form="form"/></td>
            <td><input type="submit" value="Hinzufügen" id="submit" form="form"/></td>
        </tr>
    </tfoot>
</table>
{% endblock %}