{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="login.js"></script>
<link rel="stylesheet" href="login.css">
{% endblock %}

{% block main %}
<form>
    <div class="row">
        <label for="username">Nickname</label>
        <input type="text" id="username" autofocus/>
    </div>
    <div class="row">
        <label for="password">Passwort</label>
        <input type="password" id="password" />
    </div>
    <div class="row" id="msg"></div>
    <input type="submit" value="Login" id="submit"/>
</form>
{% endblock %}