{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="login.js"></script>
<link rel="stylesheet" href="login.css">
{% endblock %}

{% block main %}
<form class="col">
    <input type="text" id="username" autofocus placeholder="Nickname"/>
    <input type="password" id="password" placeholder="Passwort"/>
    <div class="row" id="msg"></div>
    <input type="submit" value="Login" id="submit" class="primary"/>
    <input type="button" value="Registrieren" class="secondary" id="register" onclick="window.location.pathname = '/register' "/>
</form>
{% endblock %}