{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="login.js"></script>
<link rel="stylesheet" href="login.css">
{% endblock %}

{% block main %}
<form class="col">
    <input type="text" id="username" autofocus placeholder="%nickname%"/>
    <input type="password" id="password" placeholder="%password%"/>
    <div class="row" id="msg"></div>
    <input type="submit" value="%login%" id="submit" class="primary"/>
    <input type="button" value="%register%" class="secondary" id="register" onclick="window.location.pathname = '/register' "/>
</form>
{% endblock %}