:root {
    /* SPACING */
    font-size: 20px;

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;


    /* FONT */
    --ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --h1: bold 4rem/1em var(--ff);
    --h2: bold 3rem/1.2em var(--ff);
    --h3: bold 2.25rem/1.2em var(--ff);
    --h4: bold 1.5rem/1.6em var(--ff);
    --big: 1.25rem/1.6em var(--ff);
    --pf: 1rem/1.6em var(--ff);
    --small: .75rem/2em var(--ff);

    --h1ui: bold 3rem/1.2em var(--ff);
    --h2ui: bold 2.25rem/1.2em var(--ff);
    --h3ui: bold 1.5rem/1.2em var(--ff);
    --h4ui: bold 1.12rem/1.6em var(--ff);
    --bigui: 1rem/1.6em var(--ff);
    --pui: .8rem/1.6em var(--ff);
    --smallui: .75rem/1.8em var(--ff);

    --bold-button: bold .8rem/1.6em var(--ff);

    --_white: white;
    --_black: black;
    --_light-grey: lightgrey;

    --white: var(--_light-grey);
    --black: var(--_black);
    --light-grey: var(--_light-grey);

    --border: 2px solid var(--light-grey);
    --br: var(--margin-xs);
    --br-sharp: var(--margin-xxs);
}

body {
    font: var(--pui);
}

#login-logout.loggedIn > #login {
    display: none;
}

#login-logout:not(.loggedIn) > #logout {
    display: none;
}

nav {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
}
nav > .nav-component,
nav > .nav-component > * {
    text-decoration: none;
    color: black;

    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    transition: color 250ms;
}

nav > .nav-component.right {
    margin-left: auto;
    margin-right: var(--margin-xs);
}

nav > .nav-component.left {
    margin-left: var(--margin-xs);
    margin-right: auto;
}

nav > .nav-component:hover,
nav > .nav-component:hover > * {
    color: red;
}
nav > .nav-component::after {
    content: "";
    display: block;
    width: 100%;
    height: var(--margin-xxs);
    background-color: red;
    transition: transform 250ms;
    transform: scaleX(0);
}

nav > .nav-component:hover::after {
    transform: scaleX(1);
}