:root {
    /* SPACING */
    font-size: 20px;

    --margin-xxxs: .125rem;
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;


    /* FONT */
    --ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --h1: bold 4rem/1em var(--ff);
    --h2: bold 3rem/1.2em var(--ff);
    --h3: bold 2.25rem/1.2em var(--ff);
    --h4: bold 1.5rem/1.6em var(--ff);
    --big: 1.25rem/1.6em var(--ff);
    --pf: 1rem/1.6em var(--ff);
    --small: .75rem/2em var(--ff);

    --h1ui: bold 3rem/1.2em var(--ff);
    --h2ui: bold 2.25rem/1.2em var(--ff);
    --h3ui: bold 1.5rem/1.2em var(--ff);
    --h4ui: bold 1.12rem/1.6em var(--ff);
    --bigui: 1rem/1.6em var(--ff);
    --pui: .8rem/1.6em var(--ff);
    --smallui: .75rem/1.8em var(--ff);

    --bold-button: bold .8rem/1.6em var(--ff);

    --_white: white;
    --_black: black;
    --_light-grey: lightgrey;
    --_grey: grey;

    --white: var(--_white);
    --black: var(--_black);
    --light-grey: var(--_light-grey);
    --grey: var(--_grey);

    --_border: 2px solid;
    --border: var(--_border) var(--light-grey);
    --br: var(--margin-xs);
    --br-sharp: var(--margin-xxs);

    --nav-default-color: black;
    --nav-active-color: blue;

    --input-text-default-background: whitesmoke;
    --input-text-active-background: whitesmoke;
    --input-text-default-border: var(--_border) transparent;
    --input-text-active-border: var(--_border) lightgrey;
}

html:not(:has(.scrolling-body)) {
    height: 100vh;
    width: 100vw;
}

body:not(.scrolling-body) {
    width: calc(100% - 16px);
    height: calc(100% - 8px);

    display: flex;
    flex-direction: column;
}

body:not(.scrolling-body) > main {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    justify-content: center;
}

body {
    font: var(--pui);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}