:root {
    /* SPACING */
    font-size: 20px;

    --margin-xxxs: .125rem;
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;


    /* FONT */
    --ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --h1: bold 4rem/1em var(--ff);
    --h2: bold 3rem/1.2em var(--ff);
    --h3: bold 2.25rem/1.2em var(--ff);
    --h4: bold 1.5rem/1.6em var(--ff);
    --big: 1.25rem/1.6em var(--ff);
    --pf: 1rem/1.6em var(--ff);
    --small: .75rem/2em var(--ff);

    --h1ui: bold 3rem/1.2em var(--ff);
    --h2ui: bold 2.25rem/1.2em var(--ff);
    --h3ui: bold 1.5rem/1.2em var(--ff);
    --h4ui: bold 1.12rem/1.6em var(--ff);
    --bigui: 1rem/1.6em var(--ff);
    --pui: .8rem/1.6em var(--ff);
    --smallui: .75rem/1.8em var(--ff);

    --bold-button: bold .8rem/1.6em var(--ff);

    --_white: white;
    --_black: black;
    --_light-grey: lightgrey;
    --_grey: grey;

    --white: var(--_white);
    --black: var(--_black);
    --light-grey: var(--_light-grey);
    --grey: var(--_grey);

    --_border: 2px solid;
    --border: var(--_border) var(--light-grey);
    --br: var(--margin-xs);
    --br-sharp: var(--margin-xxs);

    --nav-default-color: black;
    --nav-active-color: var(--primary-100);

    --input-disabled-color: var(--white-75);

    --input-default-background: var(--white-90);
    --input-hover-background: var(--white-90);
    --input-active-background: var(--white-90);
    --input-disabled-background: var(--white-95);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--white-70);
    --input-disabled-border: var(--_border) transparent;
}

html:not(:has(.scrolling-body)) {
    height: 100%;
    width: 100%;
}

body:not(.scrolling-body) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body:not(.scrolling-body) > main {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
}

body {
    font: var(--pui);
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup > .inner {
    background-color: white;
    width: fit-content;
    height: fit-content;

    border-radius: var(--br);

    padding: var(--margin-l);
    padding-top: 0;
}

.popup > .inner > .header {
    display: flex;
    justify-content: space-between;

    margin-bottom: var(--margin-s);
}

.popup > .inner > .header > img {
    margin-left: var(--margin-s);
    height: 3.345rem;
    aspect-ratio: 1/1;
}

.popup > .inner > .content {
    margin-bottom: var(--margin-s);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.primary {
    --input-default-background: var(--primary-100);
    --input-active-background: var(--primary-90);
    --input-hover-background: var(--primary-90);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--primary-70);
}

.secondary {
    --input-default-background: var(--secondary-100);
    --input-active-background: var(--secondary-90);
    --input-hover-background: var(--secondary-90);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--secondary-70);
}

.danger {
    --input-default-background: var(--danger-100);
    --input-active-background: var(--danger-90);
    --input-hover-background: var(--danger-90);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--danger-70);
}

.success {
    --input-default-background: var(--success-100);
    --input-active-background: var(--success-90);
    --input-hover-background: var(--success-90);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--success-70);
}

.information {
    --input-default-background: var(--information-100);
    --input-active-background: var(--information-90);
    --input-hover-background: var(--information-90);


    --input-default-border: var(--_border) transparent;
    --input-hover-border: var(--_border) transparent;
    --input-active-border: var(--_border) var(--information-70);
}