main {
    align-items: center;
}

.row > input:first-child:last-child {
    width: 100%;
}

.row > select:first-child:last-child {
    width: 100%;
}

.row > select:first-child:last-child:has(> option[value=nickname]:checked) {
    border-color: var(--danger-120);
}