main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}

thead > tr,
tbody > tr {
    border-bottom: var(--border);
}

tbody > tr:last-of-type {
    border-bottom-color: var(--grey);
}

thead > tr {
    border-bottom-color: var(--grey);
}

thead td {
    padding-right: var(--margin-l);
}

td {
    padding-right: var(--margin-s);
}

td:first-child {
    padding-left: var(--margin-s);
}

form {
    border: var(--border);
    border-radius: var(--br);
    padding: var(--margin-l);
}

form input {
    border: var(--border);
    border-radius: var(--br-sharp);
}

form input[type=submit],
form input[type=button] {
    padding: var(--margin-xs);
    border-radius: var(--br);
    width: 100%;
    transition: background-color 250ms, border-color 250ms;
}

form input[type=submit] {
    margin-bottom: var(--margin-xxs);
    margin-left: var(--margin-s);
}

form input[type=submit]:hover,
form input[type=button]:hover {
    background-color: var(--light-grey);
    border-color: var(--grey);
}

form.wrong input:not([type=submit]) {
    border-color: red;
}

#msg.error {
    color: red;
}

#msg:not(.error) {
    color: green;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-s);
}

.row > label {
    margin-right: var(--margin-xs);
}