.layout {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-around !important;
}

.deleted {
    text-decoration: line-through;
    background-color: var(--white-90);
  }
.row {
  justify-content: space-between;
}

.row > button {
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}