main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start !important;
}

h1,p {
    width: fit-content;
}

.row > input {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}