{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="sell.js" defer></script>
<link rel="stylesheet" href="sell.css">
{% endblock %}

{% block main %}
<div>
    <div class="row"><h1 id="id"></h1><input type="button" id="print" value="%print%" class="success" form="form"></div>
<p id="creation_time"></p>
    
<table class="invoice">
    <thead class="thead">
        <tr>
            <td>%article%</td>
            <td>%size%</td>
            <td>%price%</td>
        </tr>
    </thead>
    <tbody>
            <tr></tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="bold">%sum%</td>
            <td id="sum">0€</td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" id="barcode" autofocus placeholder="%barcode%" form="form"/></td>
            <td><input type="submit" value="%sell%" id="submit" class="information" form="form"/></td>
        </tr>
    </tfoot>
</table>

<form id="form">
    <div class="row" id="msg"></div>
</form>
</div>
{% endblock %}