{% extends "base.jinja2.html" %}

{% block head %}
<script type="module" src="sell.js" defer></script>
<link rel="stylesheet" href="sell.css">
{% endblock %}

{% block main %}
<div>
<h1 id="id"></h1>
<p id="creation_time"></p>
    
<table class="invoice">
    <thead class="thead">
        <tr>
            <td>%article%</td>
            <td>%size%</td>
            <td>%price%</td>
        </tr>
    </thead>
    <tbody>
            <tr></tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="bold">%sum%</td>
            <td id="sum">42€</td>
        </tr>
    </tfoot>
</table>

<form>
    <div class="row" id="msg"></div>
    <div class="row">
        <input type="text" id="barcode" autofocus placeholder="%barcode%"/>
        <input type="submit" value="%sell%" id="submit"/>
    </div>
    <input type="button" id="print" value="%print%">
</form>
</div>
{% endblock %}