.deleted {
    text-decoration: line-through;
    opacity: 0.25;
}

main {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

thead > tr,
tbody > tr {
    border-bottom: var(--border);
}

tbody > tr:last-of-type {
    border-bottom: unset;
}

thead > tr {
    border-bottom-color: var(--grey);
}

thead td {
    padding-right: var(--margin-l);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-s);
}

.row > label {
    margin-right: var(--margin-xs);
}

input,
button {
    border: var(--border);
    border-radius: var(--br-sharp);
    padding: var(--margin-xxs);
}

input[type=submit],
button {
    border-radius: var(--br);
    width: 100%;
    transition: background-color 250ms, border-color 250ms;
}

input[type=submit]:hover,
button:hover {
    background-color: var(--light-grey);
    border-color: var(--grey);
}

td:has(button) {
    display: flex;
    justify-content: center;
}

td {
    padding-right: var(--margin-s);
}

td:first-child {
    padding-left: var(--margin-s);
}